{
    "parser": "babel-eslint",
    "rules": {
        "max-len": [
            1,
            100,
            2,
            {
                "ignoreComments": true
            }
        ],
        "indent": [
            "error",
            4
        ],
        "padded-blocks": "off",
        "import/no-extraneous-dependencies": [
            "error",
            {
                "devDependencies": true,
                "optionalDependencies": true,
                "peerDependencies": true
            }
        ],
        "comma-dangle": [
            "error",
            {
                "arrays": "ignore",
                "objects": "ignore",
                "imports": "ignore",
                "exports": "ignore",
                "functions": "ignore"
            }
        ]
    },
    "extends": [
        "airbnb-base"
    ]
}